<form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-container">
  <mat-form-field class="full-width">
    <mat-label>{{ 'ROLES.FORM_NAME' | translate }}</mat-label>
    <input matInput formControlName="name" [placeholder]="'ROLES.FORM_NAME_PLACEHOLDER' | translate" />
    <mat-error *ngIf="form.get('name')?.hasError('required')">
      {{ 'VALIDATION.ROLE_NAME_REQUIRED' | translate }}
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>{{ 'ROLES.FORM_DESCRIPTION' | translate }}</mat-label>
    <textarea
      matInput
      formControlName="description"
      [placeholder]="'ROLES.FORM_DESCRIPTION_PLACEHOLDER' | translate"
      rows="4"
    ></textarea>
    <mat-error *ngIf="form.get('description')?.hasError('required')">
      {{ 'VALIDATION.DESCRIPTION_REQUIRED' | translate }}
    </mat-error>
  </mat-form-field>

  <div class="button-group">
    <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">
      {{ 'ROLES.BUTTON_CREATE' | translate }}
    </button>
    <button mat-raised-button type="button" (click)="onCancel()">
      {{ 'ROLES.CANCEL' | translate }}
    </button>
  </div>
</form>
