<div class="generic-template">
  <h3>{{ 'MEDICAL_HISTORY.TEMPLATE_GENERIC_TITLE' | translate }}</h3>

  <mat-form-field appearance="outline" class="w-100">
    <mat-label>{{ 'MEDICAL_HISTORY.TEMPLATE_GENERIC_INFO_LABEL' | translate }}</mat-label>
    <textarea
      matInput
      rows="8"
      [value]="genericData.customData"
      (input)="updateData($any($event.target).value)"
      [disabled]="disabled"
      [placeholder]="'MEDICAL_HISTORY.TEMPLATE_GENERIC_PLACEHOLDER' | translate"
    ></textarea>
    <mat-hint>{{ 'MEDICAL_HISTORY.TEMPLATE_GENERIC_HINT' | translate }}</mat-hint>
  </mat-form-field>
</div>
