menu.component.css
mat-sidenav-container {
  height: 100%;
}

mat-sidenav {
  width: 250px;
  position: fixed; /* Make the sidenav fixed */
  top: 0;
  left: 0;
  height: 100%; /* Ensure it takes the full height */
  z-index: 1000; /* Ensure it is above other content */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

mat-sidenav-content {
  margin-left: 250px; /* Adjust the content margin to account for the sidenav width */
}

.logout-button {
  margin: 16px;
}
