.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
}

form {
  display: flex;
  flex-direction: column;
  width: 300px; /* Adjust the width as needed */
}

mat-form-field {
  width: 100%;
  margin-bottom: 16px; /* Add some space between form fields */
}

button {
  margin-top: 16px; /* Add some space above the buttons */
}
