<form class="form">
  <mat-form-field class="input">
    <mat-label>Name</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field class="input">
    <mat-label>Lastname</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field class="input">
    <mat-label>Email</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field class="input">
    <mat-label>Phone</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field class="input">
    <mat-label>Date</mat-label>
    <input matInput type="date">
  </mat-form-field>

  <mat-form-field class="input">
    <mat-label>Comments</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
</form>
