<mat-dialog-content>
  <div>
    <form class="form" [formGroup]="patientForm">
      <mat-form-field class="input">
        <mat-label>Patient Name</mat-label>
        <input
          type="text"
          matInput
          formControlName="name"
          [matAutocomplete]="auto"
          autocomplete="off"
        />
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectPatient($event)">
          <mat-option *ngFor="let option of filteredPatients | async" [value]="option.name + ' ' + option.lastname">
            {{ option.name }} {{ option.lastname }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field class="input">
        <mat-label>Lastname</mat-label>
        <input formControlName="lastname" matInput>
      </mat-form-field>

      <mat-form-field class="input">
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput>
      </mat-form-field>

      <mat-form-field class="input">
        <mat-label>Phone</mat-label>
        <input formControlName="phone" matInput>
      </mat-form-field>
    </form>
    <form [formGroup]="appointmentForm">
      <mat-form-field class="input">
        <mat-label>Date</mat-label>
        <input formControlName="date" matInput [matDatepicker]="datepicker">
        <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
        <mat-datepicker #datepicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Meeting time</mat-label>
        <input matInput [matTimepicker]="timepicker" formControlName="time">
        <mat-timepicker #timepicker/>
        <mat-timepicker-toggle [for]="timepicker" matSuffix/>
      </mat-form-field>

      <mat-form-field class="input">
        <mat-label>Notes</mat-label>
        <input formControlName="notes" matInput>
      </mat-form-field>
      <mat-form-field class="input">
        <mat-label>Status</mat-label>
        <input formControlName="status" matInput>
      </mat-form-field>
    </form>
  </div>
  <mat-dialog-actions>
    <button mat-button (click)="saveAppointment()">Save</button>
    <button mat-button (click)="closeDialog()">Cancel</button>
  </mat-dialog-actions>
</mat-dialog-content>
