<link href="https://fonts.googleapis.com/css?family=Muli:400,700" rel="stylesheet">
<mat-sidenav-container class="sidenav-container" autosize>
  <mat-sidenav #sidenav mode="side" [opened]="(isLoggedIn$ | async) && showChrome" class="sidenav" [class.collapsed]="isCollapsed">
    <app-menu></app-menu>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <mat-toolbar *ngIf="(isLoggedIn$ | async) && showChrome" class="app-toolbar">
      
      <div class="header-search-container" (click)="openOmnibar()">
        <mat-icon>search</mat-icon>
        <span>Buscar pacientes o acciones...</span>
        <span class="header-shortcut">Ctrl K</span>
      </div>

      <div class="spacer"></div>
      
      <span class="user-welcome">Hola, Dr.</span>
    </mat-toolbar>
    <div class="main-content-scrollable">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<app-omnibar *ngIf="(isLoggedIn$ | async) && showChrome"></app-omnibar>

<app-timeout-warning
  *ngIf="showTimeoutWarning"
  [remainingSeconds]="timeoutRemainingSeconds"
  (continue)="onContinueSession()"
  (logout)="onLogoutNow()">
</app-timeout-warning>
