@import "../node_modules/angular-calendar/css/angular-calendar.css";

html {
  background-color: #f2f2f2;
}

html, body {
  font-family: 'Muli';
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto; }
