<div class="task">
  <div class="date">
    <h1>24</h1>
  </div>
  <div class="task-info">
    <h3 class="mat-h3">Meeting - Daily SCRUM</h3>
    <p class="mat-body-1">10:00 - 12:00</p>
    <p class="mat-body">Zoom Meeting</p>
    <p class="mat-body">Status: Ongoing</p>
    <p class="mat-body">Notes: Develop DAILY SCRUM to manage performance process, especially in remote work with developers.</p>
  </div>
  <div class="task-actions">
    <button class="set-alarm">Set Alarm</button>
    <button class="mat-button"><fa-icon [icon]="faPencil"></fa-icon>Edit</button>
  </div>
</div>
