.task {
  display: flex;
  margin-bottom: 20px;
  background-color: #97E7E1;
  border-radius: 1em;
  padding: 20px;
}

.task p {
  padding: 0;
  margin: 0;
}

.set-alarm {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
